
/* * Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* * Font imports */

@font-face {
    font-family: 'source-sans-pro-regular';
    src: url('./fonts/source-sans-pro/SourceSansPro-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'source-sans-pro-light';
    src: url('./fonts/source-sans-pro/SourceSansPro-Light.otf') format('opentype');
}

@font-face {
    font-family: 'source-sans-pro-bold';
    src: url('./fonts/source-sans-pro/SourceSansPro-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'source-sans-pro-black';
    src: url('./fonts/source-sans-pro/SourceSansPro-Black.otf') format('opentype');
}

@font-face {
    font-family: 'source-sans-pro-italic';
    src: url('./fonts/source-sans-pro/SourceSansPro-It.otf') format('opentype');
}

@font-face {
    font-family: 'source-sans-pro-semibold';
    src: url('./fonts/source-sans-pro/SourceSansPro-Semibold.otf') format('opentype');
}

/* * Variables */

:root {
    --font-size-multiplier: min(calc(calc(100vw + 100vh) / 2000px), 1);

    --header-anchors-font-family: 'source-sans-pro-bold';
    --header-anchors-font-size: calc(16px * var(--font-size-multiplier));
    --banner-title-font-family: 'source-sans-pro-bold';
    --banner-title-font-size: calc(120px * var(--font-size-multiplier));
    --banner-title-font-color: white;
    --banner-subtitle-font-family: 'source-sans-pro-bold';
    --banner-subtitle-font-size: calc(16px * var(--font-size-multiplier));
    --banner-button-font-family: 'source-sans-pro-semibold';
    --banner-button-font-size: calc(14px * var(--font-size-multiplier));
    --banner-button-background-color: #C271FF;
    --banner-button-hover-background-color: #ab61e4;
    --banner-button-padding: 15px 25px;

    --banner-portraits-h2-font-family: 'source-sans-pro-light';
    --banner-portraits-h2-font-size: calc(32px * var(--font-size-multiplier));
    --banner-portraits-h2-color: white;
    --banner-portraits-h2-b-font-family: 'source-sans-pro-bold';
    --banner-portraits-h2-b-color: #C271FF;
    --banner-portraits-h3-font-family: 'source-sans-pro-black';
    --banner-portraits-h3-font-size: calc(18px * var(--font-size-multiplier));
    --banner-portraits-h3-color: white;
    --banner-portraits-p-font-family: 'source-sans-pro-italic';
    --banner-portraits-p-font-size: calc(16px * var(--font-size-multiplier));
    --banner-portraits-p-color: white;
}

/* * General */

.unselectable {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

/* * Body */

html, body {
    width: 100%;
    height: 100%;
}

/* * Header */

#header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 2vh;
    flex-wrap: wrap;
}

#header-logo {
    margin: 2vh 10vw 2vh 5vw;
}

#header-logo img {
    width: 170px;
}

#header-block {
    display: flex;
    width: 350px;
    margin: 0 4vw 0 4vw;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.header-anchor {
    padding: 2vw;
    font-family: var(--header-anchors-font-family);
    font-size: var(--header-anchors-font-size);
    text-decoration: none;
    color: white;
}

.header-anchor:link, .header-anchor:link {
    text-decoration: none;
    color: white;
}

.header-anchor:hover {
    text-decoration: none;
    color: rgb(225, 225, 225);
}

.header-anchor:active {
    text-decoration: none;
    color: rgb(200, 200, 200);
}

/* * Banner */

#banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: url('./images/headerAndBanner/background.png');
    background-repeat: no-repeat;
    background-position: top;

    background-size: cover;
    height: 150vh;
}

/* Banner title */

#banner-title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 35vh;
}

#banner-title {
    font-family: var(--banner-title-font-family);
    font-size: var(--banner-title-font-size);
    color: var(--banner-title-font-color);
}

#banner-subtitle-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-width: 200px;
    width: 20vw;
}

.banner-subtitle {
    font-family: var(--banner-subtitle-font-family);
    font-size: var(--banner-subtitle-font-size);
    color: white;
    padding: 1vw;
}

#banner-button {
    font-family: var(--banner-button-font-family);
    font-size: var(--banner-button-font-size);
    background-color: var(--banner-button-background-color);
    padding: var(--banner-button-padding);
    border-radius: 50px;
    border-width: 0;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.6);
    color: white;
    margin-top: 40px;
    cursor:pointer;
}

#banner-button:hover {
    background-color: var(--banner-button-hover-background-color);
}

/* Banner portraits */

#banner-pre-portraits-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 32%;
    margin-bottom: 15vh;
}

#banner-pre-portraits-div h2 {
    font-family: var(--banner-portraits-h2-font-family);
    font-size: var(--banner-portraits-h2-font-size);
    color: var(--banner-portraits-h2-color);
    text-align: center;
}

#banner-pre-portraits-div h2 b {
    font-family: var(--banner-portraits-h2-b-font-family);
    color: var(--banner-portraits-h2-b-color);
    text-align: center;
}

#banner-portraits-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.banner-portrait {
    margin: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner-portrait img {
    width: 12vw;
    border-radius: 100%;
}

.banner-portrait h3 {
    padding: 10px; 
    font-family: var(--banner-portraits-h3-font-family);
    font-size: var(--banner-portraits-h3-font-size);
    color: var(--banner-portraits-h3-color);
    text-align: center;
}

.banner-portrait p {
    padding: 10px;
    font-family: var(--banner-portraits-p-font-family);
    font-size: var(--banner-portraits-p-font-size);
    color: var(--banner-portraits-p-color);
    text-align: center;
}
